body {
  background: #252525;
  color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: 20px 0 8px;
}

main {
  display: flex;
  flex-direction: column;
}
#app {
  margin-top:50px;
}
.mainSection {
  width: 90%;
  padding: 0 5%;
  max-width: 800px;
  margin: 0 auto;
}

.savedMatches {
  margin: 30px 0 40px 0;
}

.savedMatches-list {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

.matchSchedule {
  display: block;
}

.matchSchedule-list {
  list-style: none;
  padding: 0;
}

.matchSchedule-daylist {
  list-style: none;
  padding: 0;
}

.matchSchedule-match {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  line-height: 1;
  color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
  background: 0 0;
  border: 1px solid #c6c8ca;
  transition: background .2s ease-out,border .2s ease-out;
}
.myMatches-remove:hover,
.btn:hover {
  background-color: #df565b;
  border-color: #df565b;
}

.myMatches--inner-container {
  margin: 20px;
  position: relative;
}

.myMatches-channel,
.myMatches-weather{
  display: block;
  margin-top: 7px;
}

.myMatches-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 1;
  color: #ebebeb;
  text-decoration: none;
  cursor: pointer;
  background: 0 0;
  border: 1px solid #c6c8ca;
  border-radius: 100%;
  transition: background .2s ease-out,border .2s ease-out;
}

.myMatches-remove::after {
  content: 'X';
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
}

.myMatches-savedMatch {
  border: 1px solid white;
  border-radius: 4px;
  padding-top: 4px;
  margin-bottom: 10px;
}

.myMatches-topInfo {
  text-align: center;
}

.myMatches-teamsInMatch {
  display: flex;
  margin: 25px 0;
  justify-content: center;
}

.myMatches-team {
  display: inline;
}

.myMatches-teamSeparator {
  height: 4px;
  width: 8px;
  background-color: white;
  margin: auto 20px;
}

.myMatches-flag {
  display: block;
  margin: 0 auto 10px;
  height: 40px;
  width: 40px;
  border-width: 3px;
  border-color: black;
  border-radius: 100%;
}

.matchSchedule-match-flag {
  font-size:20px;
}

.matchSchedule-match-time {
  font-size:20px;
  line-height:60px;
}

.matchSchedule-match-name {
  font-size:20px;
  margin-left:5px;
}

.matchSchedule-daylist-date {
  border-bottom: 2px solid #df565b;
  margin-bottom: 10px;
}